@model BookStoreWeb.Models.Domain.Discount

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h3>Chi tiết</h3>

<div>
    <h4>Discount</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Percent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Percent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateValid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateValid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuantityDiscount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuantityDiscount)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DiscountId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
